/* cart style */

.input-group .btn {
    width: 40px;
}

.input-group .form-control {
    width: 60px;
    text-align: center;
}

/* hide arrows from input number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*   */


.category-name {
    background-color: #669178;
    color: white;
    border-radius: 25px;
    display: inline-block;
    padding: 0 10px;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
}

.card {
    width: 20rem;
}

.price-text {
    text-align: right;
    font-size: 2em;
    font-weight: bold;

}

.btn-container {
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 2vh;
}

.page-title {
    margin-bottom: 2vh;

}


/* older css */
body {
    background-image: linear-gradient(#fff, #c7ebcc);
}

.browse-button {
    background-color: #377a3f;
    border-radius: 5px;
    color: white;
    width: 20vw;
    height: 10vh;
    font-size: 2em;
}

.logo-image {
    width: 30%;
}

.header-text {
    color: #377a3f;
    font-weight: bold;
    text-align: center;
}

.action-link {
    color: #1a5e25;
    text-decoration: none;
    font-weight: bold;
}

.highlight-button {
    background-color: #377a3f;
    border-radius: 5px;
    color: white;
    padding: 1vw;
    text-decoration: none;
}


.btn-primary, .btn-primary:focus {
    margin: 1vh;
    background-color: #377a3f;
}

.btn-primary:hover, .highlight-button:hover {
    background-color: #113315;
}

a {
    color: #377a3f;
}

a:hover {
    color: #113315;
}

.contact-content {
    text-align: center;
}