@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="logo-image" src="~/images/content/tea-logo.png" alt="Alternate Text" />

    <h1 class="display-4">Welcome to <b>Natalia's Tea Shop</b>!</h1>
    <a asp-area="" asp-controller="Shop" asp-action="AllArticles"><button class="browse-button">Browse shop</button></a>

</div>
