@{
    ViewData["Title"] = "Manage";
}

<div class="text-center">
    <h1 class="display-4">Admin panel</h1>
    <a asp-area="" asp-controller="Articles" asp-action="Index"><button class="browse-button">Manage articles</button></a>
    <a asp-area="" asp-controller="Categories" asp-action="Index"><button class="browse-button">Manage categories</button></a>
</div>
